include MANIFEST.in
include LICENCE.txt
include README.rst

exclude sphinx_reload.py

recursive-include canopy/templates *
recursive-include canopy/static *
recursive-include canopy/locale *

recursive-exclude tests *
recursive-exclude sandbox *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
